# Flutter/Dart
frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/coverage/
frontend/lib/src/gen/
frontend/*.iml
frontend/android/local.properties
frontend/ios/.symlinks/
frontend/macos/Flutter/ephemeral/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Go / Buf
backend/gen/
frontend/linux/libbackend.so
frontend/linux/libbackend.h
frontend/macos/libbackend.dylib
frontend/macos/libbackend.h
frontend/android/app/src/main/jniLibs/

# Misc
*.sock
*.log
.DS_Store
frontend/.nix-flutter-tools
.gradle/
frontend/android/build/
frontend/android/.gradle/
